body {
  background-color: #dee0e4;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  margin: 35px auto 20px;
}

.main {
  padding: 55px;
  border-radius: 5px;
  background-color: gray;
  color: white;
}

.label {
  font-size: 20px;
}

.btn {
  width: 200px;
}

#finalAmount {
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  margin: 50px auto;
}

#finalAmount h2 {
  font-size: 50px;
}

.finalValue {
  font-family: Arial, Helvetica, sans-serif;
}

#finalAmount h2,
.finalValue {
  font-size: 40px;
}
